
{% extends 'base.html' %}
{% load static %}

{% block title %} Talk about Sports {% endblock %}	
{% block content %}
<link rel="stylesheet" href="{% static 'css/games.css' %}">	
<script src="{% static 'js/games.js' %}"></script>	
<div class="container">
	<div class="row"> 
		<div class="left_sidebar">
			<div class="container align-content-center">
				<div class="container" width="400">
					<img src="{% static 'images/femaleVoice.gif' %}" width="500" height="500" />
				</div>
				<div class="controls">	
					<form method='POST' action=>
						{% csrf_token %}
						<button type='submit' >
							<a id="save">
								<img id="record" src="{% static 'js/mic128.png' %}" onclick='start(0)'>
							</a>
						</button>
					</form>	
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
					<div class="progress-bar" id="progressBar" value="0" max="100">
						<span class="progress-bar-fill" style="width: 30%"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="right-content">
			<div class="container">
				<h2> You can Ask Questions like ..</h2>
				{% for question in questions %}
				<div class="typewriter">
					<h5>{{question}}</h5>
				</div>
				{% endfor %}
			</div>
			<div class="container">
			</div>
			{% if check_button is True %}
					<div class="container">
					  <h5>Recommended friends who have similar knowledge<h5>
					  {% for peeps in recommended_people %}
					  		<h5>{{peeps}}</h5>
					  {% endfor %}
					</div>
			{% else %}
					<div class="container">
					<h5> Click find people to connect with your friends.</h5>
					</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}