<!-- templates/home.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<div class="row row-cols-1 row-cols-md-3" >
    <div class="col mb-4">
      
      <div class="card"> 
          
          <div class="card-inner"> 
              <div class="card-front"> 
                  <img src= "{% static "images/Sports.jpg" %}"
                          style="width:100%;height:100%;"> 
              </div> 
                
              <div class="card-back"> 
                <h3>Sports</h3>
                <br>
                  <p>Talk to WIT about sports</p> 
                    
                  <a class="btn btn-primary" href="{% url 'users:wit_stocks' %}" role="button">Click!</a>
              </div> 
          </div> 
      </div>  
    </div>

  <div class="col mb-4">
      <div class="card">
        <div class="card-inner"> 
              <div class="card-front"> 
                  <img src= "{% static "images/Movies.png" %}"
                          style="width:100%;height:100%;"> 
              </div> 
                
              <div class="card-back"> 
                <h3>Movies</h3>
                <br>
                  <p>To get the information about all movies </p> 
                    
                  <a class="btn btn-primary" href="{% url 'users:wit_movies' %}" role="button">Click!</a>
              </div> 
          </div>
      </div>
    </div>

  <div class="col mb-4">
      <div class="card">
        <div class="card-inner"> 
              <div class="card-front"> 
                  <img src= "{% static "images/Social.jpg" %}"
                          style="width:100%;height:100%;"> 
              </div> 
                
              <div class="card-back"> 
                <h3>Social</h3>
                <br>
                  <p>Get updates regarding to social media</p> 
                    
                  <a class="btn btn-primary" href="{% url 'users:wit_social' %}" role="button">Click!</a>
              </div> 
          </div>
      </div>
    </div>


    <div class="col mb-4">
      <div class="card">
        <div class="card-inner"> 
              <div class="card-front"> 
                  <img src= "{% static "images/News.jpg" %}"
                          style="width:100%;height:100%;"> 
              </div> 
                
              <div class="card-back"> 
                <h3>News</h3>
                <br>
                  <p>Get the latest updates from WIT.</p> 
                    
                  <a class="btn btn-primary" href="{% url 'users:wit_news' %}" role="button">Click!</a>
              </div> 
          </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-inner"> 
              <div class="card-front"> 
                  <img src= "{% static "images/FindPeople.jpeg" %}"
                          style="width:100%;height:100%;"> 
              </div> 
                
              <div class="card-back"> 
                <h3>People</h3>
                <br>
                  <p>Lets Connect.</p> 
                    
                  <a class="btn btn-primary" href="{% url 'users:find_peoples' %}" role="button">Click!</a>
              </div> 
          </div>
      </div>
    </div>

    <div class="col mb-4">
        <div class="card">
            <div class="card-inner"> 
                <div class="card-front"> 
                    <img src= "{% static "images/Music.jpeg" %}"
                            style="width:100%;height:100%;"> 
                </div> 
                    
                <div class="card-back"> 
                    <h3>Music</h3>
                    <br>
                    <p>Shows the music of your interest.</p> 
                        
                    <a class="btn btn-primary" href="{% url 'users:wit_music' %}" role="button">Click!</a>
                </div> 
            </div>
        </div>
    </div>

    
    <div class="col mb-4">
        <div class="card">
          <div class="card-inner"> 
                <div class="card-front"> 
                    <img src= "{% static "images/Games.jpeg" %}"
                            style="width:100%;height:100%;"> 
                </div> 
                  
                <div class="card-back"> 
                  <h3>Games</h3>
                  <br>
                    <p>Shows the games in which you are interested.</p> 
                      
                    <a class="btn btn-primary" href="{% url 'users:wit_games' %}" role="button">Click!</a>
                </div> 
            </div>
        </div>
      </div>
  </div>
{% endblock %}