<!-- templates/home.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<nav class="navbar navbar-light">
    <h4 class="text-center"> Welcome {{ user.username }} </h4>
</nav>
<div class="row row-cols-1 row-cols-md-3" >
    <div class="col mb-4">
      <div class="card">
        <a href="https://indianexpress.com/section/sports/">
          <img src="Sports.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Sports</h5>
          <p class="card-text">Talk with WIT about sports.</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}